<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<mvc:annotation-driven />

<!-- Pacotes escaneados pelo Spring -->
	<context:component-scan base-package="controllers" />
	<context:component-scan base-package="DAOs" />
	<context:component-scan base-package="facade" />
	<context:component-scan base-package="modelo" />
	
<!-- Configuração do View resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
<!-- Configuração do Resource Bundle -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/resources/messages" />
	</bean>
	
<!-- Configuração do Interceptor para verificar se usuário está logado -->
	<mvc:interceptors>
  		<bean class="interceptors.LoggingInterceptor" />
	</mvc:interceptors>

<!-- Configuração do DataSource -->
	<bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />

<!--  Conexão MySQL -->
		<property name="url" value="jdbc:mysql://localhost:3306/spring" />
        <property name="username" value="root" />
        <property name="password" value="2904pior" />

<!--  Conexão Xampp 
		<property name="url" value="jdbc:mysql://localhost/spring_mvc" />
        <property name="username" value="root" />
        <property name="password" value="" />
-->

    </bean>

<!-- Configuração do JDBC Template com a injeção do dataSource -->    
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	    <property name="dataSource" ref="dataSource"/>
	</bean>

</beans>